<!DOCTYPE html>
<html>
<%= include head.ejs %> 
<body>
    <%= include nav.ejs %> 

<div class="container">

    <div class="jumbotron">
        <h2>Spread Search</h2>
        <p>Perform a search of historical spreads.  Filter by team, year, or a combination of whatever you want.
        </p>
        <p><a class="btn btn-primary btn-large" href='/search'>Spread Search &raquo;</a></p>
        <h2>Stadium Distances</h2>
        <p>Perform a search of stadium distances and streetviews of arenas.</p>
        <p><a class="btn btn-success btn-large" href='/map'>Stadiums &raquo;</a></p>
    </div>
    <hr />
</div>
 <%= include footer.ejs %> 
</body>
</html>
