<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">NBA Spread Reference</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="../search">Search</a>
        </li>
        <li>
          <a href="../map">Stadiums</a>
        </li>
      </ul>
    </nav>
  </div>
</header>